<!-- <div class="container center-align"> -->
<div class="row">
  <div class="card large col s12 m4 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$carrot.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= $carrot.name%><i class="material-icons right">more_vert</i></span>
      <p><%=$carrot.description%></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

  <div class="card large col s12 m4 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$vanilla.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= $vanilla.name%><i class="material-icons right">more_vert</i></span>
      <p><%=$vanilla.description%></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

  <div class="card large col s12 m4 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$strawberry.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= $strawberry.name%><i class="material-icons right">more_vert</i></span>
      <p><%=$strawberry.description%></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
<!-- </div> -->
