
<div class="container">
  <h3 class="center-align">Cakes</h3>
<div class="row">
  <div class="card large col s12 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$carrot.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= $carrot.name%>
      </span>
      <p><%=$carrot.description%></p>
    </div>
    <h6 class="center-align"><%=$carrot.price%></h6>
  </div>

  <div class="card large col s12 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$vanilla.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%=$vanilla.name%>
      </span>
      <p><%=$vanilla.description%></p>
    </div>
    <h6 class="center-align"><%=$vanilla.price%></h6>
  </div>

  <div class="card large col s12 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$strawberry.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%=$strawberry.name%>
      </span>
      <p><%=$strawberry.description%></p>
    </div>
    <h6 class="center-align"><%=$strawberry.price%></h6>
  </div>
</div>
</div>
