<div class="container">
<h3 class="center-align">Muffins</h3>
<div class="row">
  <div class="card large col s12 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$cupcake.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= $cupcake.name%></span>
      <p><%=$cupcake.description%></p>
    </div>
    <h6 class="center-align"><%=$cupcake.price%></h6>
  </div>

  <div class="card large col s12 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$chocolate_muffin.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%=$chocolate_muffin.name%></span>
      <p><%=$chocolate_muffin.description%></p>
    </div>
    <h6 class="center-align"><%=$chocolate_muffin.price%></h6>
  </div>

  <div class="card large col s12 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=<%=$blueberry.pic%>>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%=$blueberry.name%></span>
      <p><%=$blueberry.description%></p>
    </div>
    <h6 class="center-align">
    <%=$blueberry.price%></h6>
  </div>
</div>

</div>
